{##
 # Invoice : header : Company address box : Merchant tax number
 #
 # @ListChild (list="invoice.subhead.companyAddress", weight="600")
 #}

{% if this.isUseVatInvoiceMode() and this.config.CDev.VAT.merchant_tax_number %}
<p class="vat-merchant-number">{{ t('Merchant Tax Number (VAT ID, ABN etc)') }}: {{ this.config.CDev.VAT.merchant_tax_number }}</p>
{% endif %}
