/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Invoice styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

ul.address-section.shipping-address-section li.address-field.address-vat_number
{
  display: none;
}

ul.address-section li.address-field.address-vat_number .address-title
{
  display: inline;
}

.invoice-box .items td.vat-rate {
  text-align: right;
}
