/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Admin interface styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/**
 * Edit tax page
 */

.edit-vat-tax.settings {
}

.edit-vat-tax table.list {
  width: 100%;
}

.edit-vat-tax table.form {
  padding-left: 4px;
  padding-top: 3px;
}

.edit-vat-tax table.form input {
  width: 286px;
}

.edit-vat-tax table.form td.button {
  padding-left: 12px;
}

.edit-vat-tax table.form td.button.enabled button.disabled-state {
  display: none;
}

.edit-vat-tax table.form td.button.disabled button.enabled-state {
  display: none;
}

.edit-vat-tax .vat-base span {
  color: #8f8f8f;
  font-size: 16px;
  padding: 0px 7px;
}

.edit-vat-tax .vat-base .tooltip-main {
  display: inline-block;
  float: none;
}

.edit-vat-tax h2 {
  margin-left: 0;
  margin-bottom: 15px;
}

.edit-vat-tax .rates-note {
  font-size: 14px;
  padding-left: 16px;
}

.edit-vat-tax table.data {
  padding-top: 18px;
  padding-left: 14px;
  border-spacing: 0px;
  padding-bottom: 1px;
}

.edit-vat-tax table.data th {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
  font-weight: normal;
  font-size: 16px;
  padding: 12px 8px 8px;
  color: #456583;
  white-space: nowrap;
  text-align: left;
}

.edit-vat-tax table.data th.position {
  padding-left: 15px;
}

.edit-vat-tax table.data td {
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 2px;
}

.edit-vat-tax table.data tr:nth-child(2n+1) {
  background-color: #f7f7f7;
}

.edit-vat-tax table.data tr:first-child {
  background-color: transparent;
}

.edit-vat-tax table.data td.position {
  padding-left: 13px;
}

.edit-vat-tax table.data td.position input {
  width: 35px;
}

.edit-vat-tax table.data td.class select,
.edit-vat-tax table.data td.membership select,
.edit-vat-tax table.data td.zone select
{
  width: 180px;
}

.edit-vat-tax table.data td.rate {
  padding-right: 4px;
}

.edit-vat-tax table.data td.rate * {
  vertical-align: middle;
}

.edit-vat-tax table.data td.rate input {
  width: 42px;
}

.edit-vat-tax table.data .percent {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 11px;
}

.edit-vat-tax table.data .separator {
  background-color: #e3e3e3;
  width: 1px;
  height: 15px;
  margin-top: 3px;
}

.edit-vat-tax table.data .rate-remove {
  background: transparent url(../../../images/garbage.png) no-repeat left top;
  border: none;
  width: 18px;
  height: 18px;
  margin: 12px 7px 10px 10px;
}

.edit-vat-tax table.data .rate-remove span {
  display: none;
}

.edit-vat-tax .new-rate {
  margin-left: 16px;
  margin-bottom: 5px;
}

.edit-vat-tax .buttons {
  margin-top: 30px;
}

table.data tr.no-data-note {
  display: none;
}

table.data.empty-data {
  padding-bottom: 8px;
}

table.data.empty-data tr.no-data-note {
  display: table-row;
}

table.data.empty-data tr.head {
  display: none;
}

.edit-vat-tax table.data .no-data-note td {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 11px;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-size: 16px;
  border-bottom: none;
}

.edit-vat-tax .help-wrapper {
  width: 25px;
  text-align: right;
  display: inline-block;
}

.vat-help-textformError .formErrorContent {
  width: 450px;
}

.vat-options {
  padding-top: 20px;
  min-width: 815px;
}

.edit-vat-tax.no-memberships .vat-options {
  min-width: 630px;
}

.vat-options-block {
  margin-bottom: 20px;
  margin-left: 4px;
  margin-top: 20px;
}

.vat-options-block * {
  vertical-align: middle;
}

.vat-options .table-label {
  font-size: 16px;
  line-height: 24px;
  color: #456583;
  vertical-align: middle;
  width: 300px;
  padding: 0;
}

.vat-options .table-value {
  width: 295px;
}

.vat-options .vat-base .table-value {
  width: auto;
}

.vat-options .vat-base .table-value select {
  width: 200px;
}

.vat-options .tooltip-main {
  display: inline-block;
}

.edit-vat-tax.no-memberships select[name=vatMembership],
.edit-vat-tax.no-memberships span.and,
.edit-vat-tax.no-memberships th.membership,
.edit-vat-tax.no-memberships td.membership {
  display: none;
}

.edit-vat-tax .items-list-table table.list th.zone a {
  margin-left: 10px;
  font-size: 12px;
}

.edit-vat-tax .items-list-table table.list thead th.actions.left {
  padding-left: 7px;
}

.edit-vat-tax .inline-field.editable.rate-value .view {
  text-align: right;
  margin-right: 20px;
}

.edit-vat-tax .inline-field.editable.rate-value .view,
.edit-vat-tax .inline-field.editable.rate-value input {
  width: 60px;
}

.vat-options-block div.star {
  padding-top: 0;
  padding-bottom: 0;
}

.vat-options-block .rename-label {
  font-size: 12px;
}

.vat-options-block input#simplified-invoice-limit {
  width: 110px;
}

.vat-base select {
  display: inline-block;
  width: auto;
}

td.label {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.common-settings-head {
  margin-bottom: 15px;
}

#common-settings-link {
  margin-left: 15px;
}

.common-settings-head .title,
.common-settings-head #common-settings-link {
  display: inline-block;
}

.taxes-top-block .title,
.edit-vat-tax .title {
  font-size: 18px;
  padding-bottom: 20px;
}

#common-settings-link span {
  font-size: 12px;
  color: #2a6496;
  cursor: pointer;
  border-bottom: 1px dotted;
}

#common-settings {
  padding-bottom: 49px;
}
