{##
 # Tax edit page : settings template
 #}

<div class="edit-vat-tax settings {% if this.config.CDev.VAT.ignore_memberships %} no-memberships{% endif %}">

  <div class="common-settings-head">

    <div class="title">{{ t('Common tax settings') }}</div>

    <div id="common-settings-link">
      <span class="expanded-common-settings {% if not this.isCommonOptionsExpanded() %}hidden{% endif %}">{{ t('Hide common settings') }}</span>
      <span class="collapsed-common-settings {% if this.isCommonOptionsExpanded() %}hidden{% endif %}">{{ t('Display common settings') }}</span>
    </div>

  </div>

  <div id="common-settings" {% if not this.isCommonOptionsExpanded() %}class="hidden"{% endif %}>

  <table class="form" cellspacing="0">

    <tr>
      <td class="label"><label for="tax-title">{{ t('Tax title') }}:</label></td>
      <td class="star">*</td>
      <td><input type="text" name="name" value="{{ this.tax.getName() }}" class="field-required form-control" /></td>
      <td class="button {% if this.tax.getEnabled() %}enabled{% else %}disabled{% endif %}">
          {{ widget('XLite\\View\\Button\\SwitchState', label=t('Tax enabled'), enabled='true', action='switch') }}
          {{ widget('XLite\\View\\Button\\SwitchState', label=t('Tax disabled'), enabled='false', action='switch') }}
      </td>
    </tr>

  </table>

  <div class="vat-options">
    <div class="vat-options-block">
      {{ widget('XLite\\View\\FormField\\Input\\Checkbox', fieldName='ignore_memberships', isChecked=this.config.CDev.VAT.ignore_memberships, label=t('Use the same tax rates for all user membership levels')) }}
    </div>
    <div class="vat-options-block">
      {{ widget('XLite\\Module\\CDev\\VAT\\View\\FormField\\AddressType', fieldName='addressType', value=this.config.CDev.VAT.addressType, label=t('Address for VAT / GST calculation')) }}
    </div>

    <div class="vat-options-block vat-base">
      <div class="table-label includingVat-label">
        <label title="{{ t('The VAT / GST inclusive prices as defined in the product details are intended for') }}">
		  {{ t('The VAT / GST inclusive prices as defined in the product details are intended for') }}
        </label>
      </div>
      <div class="star">&nbsp;</div>
	    <div class="table-value includingVat-value">
		{{ widget('XLite\\Module\\CDev\\VAT\\View\\Taxes\\ZoneSelector', field='vatZone', value=this.tax.getVATZone()) }}
        <span class="and">{{ t('and') }}</span>
        {{ widget('XLite\\Module\\CDev\\VAT\\View\\Taxes\\MembershipSelector', field='vatMembership', value=this.tax.getVATMembership()) }}
        {{ widget('XLite\\View\\Tooltip', id='vat-help-text', text=t('Specify the address zone (or the membership and the address zone), the VAT / GST for which was included into product prices when you defined prices for the products in your catalog'), caption='', isImageTag='true', className='help-icon') }}
      </div>
    </div>

    <div class="vat-options-block">
      {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldName='display_prices_including_vat', isChecked=this.config.CDev.VAT.display_prices_including_vat == 'Y', label=t('Display prices in catalog including VAT / GST')) }}
    </div>
    <div class="vat-options-block">
      {{ widget('XLite\\Module\\CDev\\VAT\\View\\FormField\\LabelModeSelector', fieldName='display_inc_vat_label', value=this.config.CDev.VAT.display_inc_vat_label, label=t('Display \'inc/ex VAT\' labels next to prices'), help=t('If this option is ticked all prices in the catalog will be shown with \'inc VAT\' or \'ex VAT\' label depending on whether included VAT / GST into the price or not')) }}
    </div>
    <div class="vat-options-block">
      {{ widget('XLite\\View\\FormField\\Input\\Text', fieldName='vatlayer_apikey', value=this.config.CDev.VAT.vatlayer_apikey, label=t('EU VAT Number Validation API key (vatlayer.com)'), help=t('To use vatlayer.com VAT Number Validation services, you have to sign up at https://vatlayer.com/product page and proceed to dashboard to get the API key.')|raw ) }}
    </div>
    <div class="vat-options-block">
      {{ widget('XLite\\View\\FormField\\Input\\Text', fieldName='merchant_tax_number', value=this.config.CDev.VAT.merchant_tax_number, label=t('Merchant Tax Number (VAT ID, ABN etc)'), placeholder=t('VAT ID, ABN etc'), help=t('If specified this value will be displayed on invoices of orders with VAT applied')) }}
      <div class="rename-label"><a href="{{ this.getRenameMerchantTaxNumberLabelURL() }}" target="_blank">Rename label</a></div>
    </div>
  </div>

  </div>

</div>
