{##
 # Membership selector
 #}
<select name="{{ this.getParam('field') }}" class="form-control">
  {% for zone in this.getZones() %}
    <option value="{{ zone.getZoneId() }}" {% if this.isSelectedZone(zone) %} selected="selected" {% endif %}>{{ zone.getZoneName() }}</option>
  {% endfor %}
</select>
