{##
 # Shopping cart item : info
 #
 # @ListChild (list="cart.item", weight="30")
 #}
<td class="item-info">

 {{ widget_list('cart.item.info', item=this.item) }}

{% if this.item.getDesignId() %}
{{ widget('\\XLite\\Module\\qq\\EditDesignButton\\View\\Page\\Button\\DemoEditDesignButton', label='Edit Your Design', item=this.item) }}
{% endif %}

</td>

