/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CSS classes
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.vat-hidden {
  display: none;
}

ul.address-box li.address-text-vat_number .address-text-label {
  display: inherit;
}