{##
 # Product price value
 #
 # @ListChild (list="product.plain_price", weight="20")
 # @ListChild (list="product.plain_price_only", weight="20")
 #}

{% if this.isVATApplicable() %}
  {% if this.isDisplayedPriceIncludingVAT() %}
    <li class="vat-price"><span class="vat-note-product-price">{{ t('incl.VAT', {'name': this.getVATName()}) }}</span>
    </li>
  {% else %}
    <li class="vat-price"><span class="vat-note-product-price">{{ t('excl.VAT', {'name': this.getVATName()}) }}</span>
    </li>
  {% endif %}
{% endif %}
