/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CSS classes
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.vat-note-product-price {
/*  line-height: 30px;*/
  font-size: 18px;
  margin-top: 21px;
  display: block;
  margin-left: 6px;
  color: #8f8f8f;
}

.products-grid .vat-note-product-price {
  font-size: 12px;
  margin-left: 0;
  margin-top: 11px;
}

.list-body-sidebar .vat-note-product-price {
  font-size: 11px;
  margin-left: 2px;
  margin-top: -1px;
}

.products-list .vat-note-product-price {
  font-size: 14px;
  margin-left: 2px;
  margin-top: 7px;
}

table.products-table .vat-note-product-price {
  font-size: 12px;
  margin-left: 0px;
  margin-top: -10px;
}

