<form method="get" action="http://13.76.134.147/">

	<input type="hidden" name="product_id" value="{{ this.product.id }}">

  	<a href="http://13.76.134.147/">
      		<button type="submit">Customise</button>
 	</a>
</form>