{##
 # Add to bag buttons
 #
 # @ListChild (list="product.details.page.info.buttons-added.cart-buttons", weight="30")
 # @ListChild (list="product.details.quicklook.info.buttons-added.cart-buttons", weight="30")
 # @ListChild (list="product.details.page.info.buttons.cart-buttons", weight="20")
 # @ListChild (list="product.details.quicklook.info.buttons.cart-buttons", weight="20")
 #}

{{ widget('\\XLite\\View\\Product\\Details\\Customer\\AddButton', product=this.product) }}

 