{##
 # Add to bag buttons
 #}

<div class="add-button-wrapper {{ this.getFingerprint() }}">
  {% if not this.isOutOfStock() and this.isProductAvailableForSale() %}
    {{ widget('\\XLite\\View\\Button\\Submit', label='Add to cart', style='regular-main-button add2cart') }}
     
  {{ widget('\\XLite\\Module\\qq\\CustomiseModule\\View\\Page\\Button\\CustomiseButton', label='Customise') }}
 
  {% endif %}


</div>
